<p>Dobrý den, <%= @user.name %>!</p>

<p>Přístup ke kurzu <strong><%= @course.name %></strong> byl odebrán.</p>

<p>Pokud si myslíte, že jde o chybu, kontaktujte nás na
<a href="mailto:kurzy@pohybjezivot.cz">kurzy@pohybjezivot.cz</a>.</p>
