<% content_for :layout_fullscreen, true %>
<% content_for :title, "#{@course.name} - #{@segment.title}" %>

<div class="min-h-screen w-full">
  <%= render "shared/navbar", course: @course %>

  <div class="flex h-[calc(100vh-57px-56px)] w-full overflow-hidden">
    <div class="flex w-full max-w-[360px] shrink-0 flex-col border-r border-gray-200 bg-white/70 backdrop-blur">
      <div id="course_sidebar" class="flex-1 overflow-y-auto">
        <%= render "courses/sidebar", course: @course, current_segment: @segment, completions_by_segment_id: @completions_by_segment_id %>
      </div>
    </div>

    <div class="flex-1 bg-white">
      <div id="course_main" class="h-full w-full">
        <%= render "segments/main_player",
                   course: @course,
                   segment: @segment,
                   next_segment: @next_segment,
                   segment_completed: @segment_completed,
                   locked: @locked,
                   lock_message: @lock_message %>
      </div>
    </div>
  </div>
  <div class="border-t border-gray-200 bg-white px-6 py-4">
    <%= render "shared/footer_links" %>
  </div>
</div>
